</body>
<!-- Footer -->
<footer class="white-section">
  <a href="#"><i class="socialicon fab fa-twitter"></i></a>
  <a href="#"><i class="socialicon fab fa-facebook-f"></i></a>
  <a href="#"><i class="socialicon fab fa-instagram"></i></a>
  <a href="#"><i class="socialicon fas fa-envelope"></i></a>
  <p>© Copyright 2021 Lengo</p>

</footer>
</html>
