<%- include ("partials/header") -%>


<section class="white-section" id="features">

  <div class="container">
    <div class="row feature-row">
      <div class="col-md-4">
        <i class="fas fa-check-circle feature-icons"></i>
        <h3 class="feature-title">Email Us</h3>
        <p>noemailyet@nowhere.com</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-bullseye feature-icons"></i>
        <h3 class="feature-title">Visit Us</h3>
        <p>Paradise Street of course</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-heart feature-icons"></i>
        <h3 class="feature-title">Calls Us</h3>
        <p>888 888 888</p>
      </div>
    </div>
  </div>

</section>



<section class="colored-section" id="cta">

  <h3>Start Empowering Your Team Today</h3>
  <button type="button" class="btn btn-outline-dark btn-lg download-button"><i class="fab fa-apple"></i> Sign Up</button>
  <button type="button" class="btn btn-outline-dark btn-lg download-button"><i class="fab fa-windows"></i> Log in</button>

</section>




<%- include ("partials/footer") -%>
